.reserve {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.418);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .reserveContainer {
    background-color: white;
    padding: 20px;
    position: relative;
    border-radius: 20px;
  }
  
  .close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    margin: 20px;
    font-size: 1.3rem;
    color: rgb(32, 36, 69);
  }
  
  .ritem {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 20px;
  }
  
  .riteminfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .rtitle {
    font-weight: 500;
  }
  
  .rdesc {
    font-weight: 300;
  }
  
  .rmax {
    font-size: 12px;
  }
  
  .rprice {
    font-weight: 500;
  }
  
  .rselectroom{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    font-size: 8px;
    color: gray;
  }
  
  .room{
    display: flex;
    flex-direction: column;
  }
  
  .rbutton {
    border: none;
    padding: 10px 20px;
    background-color: rgb(32, 36, 69);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
    margin-top: 20px;
  }
  .rbutton:hover {
    transition: 0.5s;
    background-color: black;
  }
