.headerContainer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.header{
    background-color: rgb(32, 36, 69, 0.2);
    width: 80%;
    height: 50%;
    border-radius: 20px;
    display: block;
    justify-content: center;
    margin-top: -10%;
    position: relative;
}
.listMode{
    height: 35%;
}
.selection{
    display: flex;
    justify-content: space-evenly;
    padding: 3%;
}
.select,
.headerChecks{
    background-color: rgb(32, 36, 69, 0.3);
    width: 18%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.active{
    background-color: rgb(32, 36, 69);
}
.selectionDetails{
    width: 100%;
    height: 120px;
    background-color: rgb(32, 36, 69, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position:absolute;
    bottom: 0;
    border-radius: 0 0 20px 20px;
}
.headerChecks{
    width: 25%;
}
.headerChecks:last-child{
    width: 120px;
}
.headerChecks input{
    border: none ;
    outline: none;
    background-color: rgb(32, 36, 69, 0.01);
    color: white;
    border-radius: 5px;
    padding: 5px;
}
.headerChecks input::placeholder,
.headerChecks span{
    color: white;
    cursor: pointer;
}
span{
    color: white;
}

.headerbtn{
    border: none;
    background-color: rgb(32, 36, 69);
    color: white;
    width: 120px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
}

.headerbtn:hover{
    transition: 0.5s;
    background-color: black;
}

.date,
.options{
    position: absolute;
    top: 69%;
    left: 30%;
    border-radius: 20px;
    background-color: rgb(32, 36, 69, 0.6);
    color: white;
    box-shadow: 0px 10px 10px gray;
}


.options{
    left: 58%;
    width: 250px;
    height: 150px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    border-radius: 0 0 20px 20px;
}

.optionItem{
    display: flex;
    margin: 10px;
    
}
.optionItem .optionText{
    width: 80px;
}
.counter{
    margin-left: 15px;

}
.counterButton{
    width: 35px;
    height: 25px;
    cursor: pointer;
    background-color: rgb(32, 36, 69);
    color: white;
    border: none;
}
.counterButton:disabled{
    cursor: not-allowed;
}